<html>
  <head>
    <title>mdcms change password</title>
  </head>

  <body>
    <script>
      function doPost(){
        window.document.change_password_fom.submit();
      }

      function changePasswd(){
        var np = document.getElementById('new_password').value;
      var npc = document.getElementById('new-password-confirm').value;
      console.log(np, npc);
        if (!np || !npc){
          alert('Both fields are required');
          return false;
        };

        if (np != npc){
          alert('Passwords does not match');
          return false;
        }

        doPost();
      }
    </script>

    <div id="change-password-by-url">
      <form id="change_password_form" name="change_password_form" action="{{ action }}" method="POST">
	{% csrf_token %}
	<input type="password" name="new_password" id="new-password"  />
	<input type="password" name="new-password-confirm"  id="new-password-confirm"/>
	<input type="hidden" value="{{ token }}" name="change_password_token"  id="change_password_token"/>
	<button id="chpasswdbtn">Change password</button>
      </form>
      <script>
	var btn = document.getElementById('chpasswdbtn');
	btn.onlick = changePasswd;
      </script>

    </div>
  </body>

</html>
