<html>
  <head>
    <script>
      function doSubmit(){
        window.document.reform.submit();
        return false;
      }
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
  </head>

  <body onload="doSubmit()">
    <form name="reform" target="_top" method="post" action="{{ merceariadigital_payment_action }}">
      <input id="transactionMid" type="hidden" value="{{ transaction_mid }}" name="transactionMid">
      <input id="transactionRequest" type="hidden" value="{{ transaction_request }}" name="transactionRequest">
    </form>
    <input id="login-token" type="hidden" value="{{login_token}}">
    <script>
      var login_token = document.getElementById('login-token').value;
      if (login_token){
        Cookie.save('cmsexlogin', login_token, 99);
      }
      doSubmit();
    </script>

  </body>
</html>
