{% load i18n %}
<script type="text/javascript">
ga('send', {
	'page': '{{content.get_absolute_url}}',
	'title': '{{content.title}}'
});
</script>
<script type="text/javascript" src="//cdn.sublimevideo.net/js/qmx1v560.js"></script>
<video id="159b59de" class="sublime" width="640" height="360" data-uid="159b59de" preload="none">
    <source src="{{ content.video_sd }}" />
    <source src="{{ content.video_hd }}" data-quality="hd" />
</video>
